apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: peerscout--prod
  namespace: peerscout
spec:
  releaseName: peerscout--prod
  interval: 5m
  chart:
    spec:
      chart: charts/peerscout
      sourceRef:
        kind: GitRepository
        name: peerscout--prod
      interval: 1m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    replicaCount: 2
    image:
      repository: docker.io/elifesciences/data-science-dags_peerscout-api # {"$imagepolicy": "peerscout:peerscout-stable:name"}
      tag: "0.0.23" # {"$imagepolicy": "peerscout:peerscout-stable:tag"}
    env:
      DATA_SCIENCE_STATE_PATH: s3://prod-elife-data-pipeline/airflow-config/data-science/state
      GOOGLE_APPLICATION_CREDENTIALS: /root/.gcp/credentials.json
      DEPLOYMENT_ENV: prod
      PEERSCOUT_API_TARGET_DATASET: prod
      SPACY_KEYWORD_EXTRACTION_API_URL: https://spacy-keyword-extraction-api.elifesciences.org/v1/batch-extract-keywords
    volumeMounts:
    - name: aws-credentials-sealed-secret-volume
      mountPath: /root/.aws
      readOnly: true
    - name: gcp-credentials-sealed-secret-volume
      mountPath: /root/.gcp
      readOnly: true
    volumes:
    - name: aws-credentials-sealed-secret-volume
      secret:
        secretName: aws-credentials
    - name: gcp-credentials-sealed-secret-volume
      secret:
        secretName: gcp-credentials
    ingress:
      enabled: "true"
      ingressClassName: traefik
      hosts:
      - host: peerscout.elifesciences.org
        paths:
        - "/"
      annotations:
        external-dns.alpha.kubernetes.io/controller: "disabled"
        traefik.ingress.kubernetes.io/router.middlewares: peerscout-peerscout-http-basic-auth-prod@kubernetescrd
        cert-manager.io/cluster-issuer: "letsencrypt"
      tls:
      - hosts:
        - peerscout.elifesciences.org
        secretName: peerscout-prod-tls
    resources:
      requests:
        cpu: 100m
        memory: 2.6Gi
        ephemeral-storage: 20Mi
      limits:
        cpu: 500m
        memory: 3Gi
    livenessProbe:
      httpGet:
        path: /api/status
        port: http
      timeoutSeconds: 30
      periodSeconds: 30
    readinessProbe:
      httpGet:
        path: /api/status
        port: http
      timeoutSeconds: 30
      periodSeconds: 30
    startupProbe:
      httpGet:
        path: /api/status
        port: http
      timeoutSeconds: 30
      periodSeconds: 30
      failureThreshold: 10
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    traefik.ingress.kubernetes.io/router.middlewares: peerscout-peerscout-http-basic-auth-prod@kubernetescrd
  name: peerscout--prod-traefik
  namespace: peerscout
spec:
  ingressClassName: traefik
  rules:
  - host: peerscout.elifesciences.org
    http:
      paths:
      - backend:
          service:
            name: peerscout--prod
            port:
              number: 80
        path: /
        pathType: ImplementationSpecific
  tls:
  - hosts:
    - peerscout.elifesciences.org
    secretName: peerscout-prod-tls
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: peerscout-http-basic-auth--prod
  namespace: peerscout
spec:
  basicAuth:
    secret: peerscout-http-basic-traefik-auth--prod
    realm: "Authentication Required"
    removeHeader: true
