apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: peerscout--prod
  namespace: peerscout
spec:
  releaseName: peerscout--prod
  interval: 5m
  chart:
    spec:
      chart: charts/peerscout
      sourceRef:
        kind: GitRepository
        name: peerscout--prod
      interval: 1m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    replicaCount: 2
    image:
      repository: docker.io/elifesciences/data-science-dags_peerscout-api # {"$imagepolicy": "peerscout:peerscout-stable:name"}
      tag: "0.0.23" # {"$imagepolicy": "peerscout:peerscout-stable:tag"}
    env:
      DATA_SCIENCE_STATE_PATH: s3://prod-elife-data-pipeline/airflow-config/data-science/state
      GOOGLE_APPLICATION_CREDENTIALS: /root/.gcp/credentials.json
      DEPLOYMENT_ENV: prod
      PEERSCOUT_API_TARGET_DATASET: prod
      SPACY_KEYWORD_EXTRACTION_API_URL: https://spacy-keyword-extraction-api.elifesciences.org/v1/batch-extract-keywords
    volumeMounts:
    - name: aws-credentials-sealed-secret-volume
      mountPath: /root/.aws
      readOnly: true
    - name: gcp-credentials-sealed-secret-volume
      mountPath: /root/.gcp
      readOnly: true
    volumes:
    - name: aws-credentials-sealed-secret-volume
      secret:
        secretName: aws-credentials
    - name: gcp-credentials-sealed-secret-volume
      secret:
        secretName: gcp-credentials
    ingress:
      enabled: "true"
      hosts:
      - host: peerscout.elifesciences.org
        paths:
        - "/"
      annotations:
        nginx.ingress.kubernetes.io/auth-type: basic
        nginx.ingress.kubernetes.io/auth-secret: peerscout-http-basic-auth--prod
        nginx.ingress.kubernetes.io/auth-realm: 'Authentication Required - peerscout'
        cert-manager.io/cluster-issuer: "letsencrypt"
      tls:
      - hosts:
        - peerscout.elifesciences.org
        secretName: peerscout-prod-tls
    resources:
      requests:
        cpu: 100m
        memory: 2.6Gi
        ephemeral-storage: 20Mi
      limits:
        cpu: 500m
        memory: 3Gi
    livenessProbe:
      httpGet:
        path: /api/status
        port: http
      timeoutSeconds: 30
      periodSeconds: 30
    readinessProbe:
      httpGet:
        path: /api/status
        port: http
      timeoutSeconds: 30
      periodSeconds: 30
    startupProbe:
      httpGet:
        path: /api/status
        port: http
      timeoutSeconds: 30
      periodSeconds: 30
      failureThreshold: 10
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: peerscout-http-basic-auth--prod
  namespace: peerscout
spec:
  basicAuth:
    secret: peerscout-http-basic-traefik-auth--prod
    realm: "Authentication Required"
    removeHeader: true
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: peerscout-http-basic-auth--prod-fix-ejp
  namespace: peerscout
  annotations:
    elifesciences.org/description: |
      eJP uses a BASE64 encoded Auth header that does not present the
      padding required for a strict parser like traefiks

      This middleware forcable inserts additional padding characters when the
      length of the string is not a multiple of 4'
spec:
  plugin:
    htransformation:
      Rules:
      - Name: "Add Double Padding"
        Header: "Authorization"
        Type: "RewriteValueRule"
        Value: "^Basic\\s+((?:[A-Za-z0-9+/]{4})*[A-Za-z0-9+/]{2})$"
        ValueReplace: "Basic $1=="

      - Name: "Add Single Padding"
        Header: "Authorization"
        Type: "RewriteValueRule"
        Value: "^Basic\\s+((?:[A-Za-z0-9+/]{4})*[A-Za-z0-9+/]{3})$"
        ValueReplace: "Basic $1="
---
apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: peerscout-transport
  namespace: peerscout
spec:
  forwardingTimeouts:
    dialTimeout: "30s"                    # Time to establish connection
    responseHeaderTimeout: "300s"         # Time to receive response headers
    idleConnTimeout: "90s"                # Keep-alive timeout
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    traefik.ingress.kubernetes.io/router.middlewares: peerscout-peerscout-http-basic-auth-prod-fix-ejp@kubernetescrd,peerscout-peerscout-http-basic-auth-prod@kubernetescrd
    traefik.ingress.kubernetes.io/service.serverstransport: peerscout-transport@kubernetescrd
  name: peerscout--prod-traefik
  namespace: peerscout
spec:
  ingressClassName: traefik
  rules:
  - host: prod-test--peerscout.elifesciences.org
    http:
      paths:
      - backend:
          service:
            name: peerscout--prod
            port:
              number: 80
        path: /
        pathType: ImplementationSpecific
  tls:
  - hosts:
    - prod-test--peerscout.elifesciences.org
    secretName: prod-test--peerscout.elifesciences.org-tls
