apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: data-hub--test
  namespace: data-hub
spec:
  interval: 16m
  timeout: 15m
  releaseName: data-hub--test
  chart:
    spec:
      chart: airflow
      version: 1.18.0
      sourceRef:
        kind: HelmRepository
        name: apache-airflow
        namespace: data-hub
      interval: 1m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    # Required when using Flux/Argo/etc.
    createUserJob:
      useHelmHooks: false
      applyCustomEnv: false
    migrateDatabaseJob:
      useHelmHooks: false
      applyCustomEnv: false

    # Executor + core Airflow settings
    executor: CeleryKubernetesExecutor

    config:
      core:
        dags_are_paused_at_creation: "True"
        max_active_tasks_per_dag: "100"
        max_active_runs_per_dag: "25"
      celery:
        worker_concurrency: "21"
        worker_autoscale: "21,1"
        flower_url_prefix: "/flower"
      logging:
        remote_logging: "True"
        remote_base_log_folder: "s3://ci-elife-data-pipeline/by-env/test/airflow-logs"
        remote_log_conn_id: "aws_default"
      scheduler:
        min_file_process_interval: "90"

    # Airflow image (your custom image)
    images:
      airflow:
        repository: docker.io/elifesciences/data-hub-core-dags_unstable # {"$imagepolicy": "data-hub:data-hub-core-dags-unstable:name"}
        tag: HEAD-b9ce65cb-20251204.1511                              # {"$imagepolicy": "data-hub:data-hub-core-dags-unstable:tag"}

    # Global extra env for all Airflow containers[web:46][web:124]
    extraEnv:
      # security settings
      - name: AIRFLOW__WEBSERVER__SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: webserver-secret-key--test
            key: webserver-secret-key
      - name: AIRFLOW__CORE__FERNET_KEY
        valueFrom:
          secretKeyRef:
            name: fernet-key--test
            key: fernet-key

      # config file paths:
      - name: KUBERNETES_PIPELINE_CONFIG_FILE_PATH
        value: /dag_config_files/kubernetes-pipeline--test.config.yaml
      - name: ELIFE_ARTICLE_XML_CONFIG_FILE_PATH
        value: /dag_config_files/elife-article-xml.config.yaml
      - name: EUROPEPMC_CONFIG_FILE_PATH
        value: /dag_config_files/europepmc.config.yaml
      - name: EUROPEPMC_LABSLINK_CONFIG_FILE_PATH
        value: /dag_config_files/europepmc-labslink--test.config.yaml
      - name: GMAIL_DATA_CONFIG_FILE_PATH
        value: /dag_config_files/gmail-data-pipeline.config.yaml
      - name: CROSSREF_CONFIG_FILE_PATH
        value: /dag_config_files/crossref-event-data-pipeline.config.yaml
      - name: SPREADSHEET_CONFIG_FILE_PATH
        value: /dag_config_files/spreadsheet-data-pipeline.config.yaml
      - name: WEB_API_CONFIG_FILE_PATH
        value: /dag_config_files/web-api-data-pipeline.config.yaml
      - name: S3_CSV_CONFIG_FILE_PATH
        value: /dag_config_files/s3-csv-data-pipeline.config.yaml
      - name: MONITORING_CONFIG_FILE_PATH
        value: /dag_config_files/monitoring.config.yaml
      - name: MATERIALIZE_BIGQUERY_VIEWS_CONFIG_PATH
        value: "s3://staging-elife-data-pipeline/airflow-config/bigquery-views"
      - name: TOGGL_API_TOKEN_FILE_PATH
        value: /home/airflow/toggl/toggl_api_token.txt
      - name: EJP_XML_CONFIG_FILE_PATH
        value: /dag_config_files/ejp-xml-data-pipeline.config.yaml
      - name: SEMANTIC_SCHOLAR_CONFIG_FILE_PATH
        value: /dag_config_files/semantic-scholar.config.yaml
      - name: SEMANTIC_SCHOLAR_RECOMMENDATION_CONFIG_FILE_PATH
        value: /dag_config_files/semantic-scholar-recommendation.config.yaml
      - name: BIGQUERY_TO_OPENSEARCH_CONFIG_FILE_PATH
        value: /dag_config_files/bigquery-to-opensearch--test.yaml
      - name: SURVEYMONKEY_DATA_CONFIG_FILE_PATH
        value: /dag_config_files/surveymonkey-data-pipeline.config.yaml
      - name: TWITTER_ADS_API_CONFIG_FILE_PATH
        value: /dag_config_files/twitter-ads-api.config.yaml
      - name: GOOGLE_ANALYTICS_CONFIG_FILE_PATH
        value: /dag_config_files/ga-data-pipeline.config.yaml

      # queue (airflow executor)
      - name: DATA_SCIENCE_PEERSCOUT_RECOMMEND_QUEUE
        value: "kubernetes"

      # general
      - name: DEPLOYMENT_ENV
        value: test
      - name: AIRFLOW_NOTIFICATION_EMAIL_CSV_LIST
        value: ""

    # Ingress (web + flower)[web:46][web:51][web:122]
    ingress:
      web:
        enabled: true
        hosts:
          - data-hub--flux--test.elifesciences.org
        annotations:
          nginx.ingress.kubernetes.io/auth-url: "https://oauth-proxy.elifesciences.org/oauth2/auth"
          nginx.ingress.kubernetes.io/auth-signin: "https://oauth-proxy.elifesciences.org/oauth2/start?rd=https%3A%2F%2F$host$request_uri"
          cert-manager.io/cluster-issuer: "letsencrypt"
        tls:
          enabled: true
          secretName: "data-hub-airflow-stg-tls"
      flower:
        enabled: true
        hosts:
          - data-hub--flux--test.elifesciences.org
        path: "/flower"
        annotations:
          nginx.ingress.kubernetes.io/auth-url: "https://oauth-proxy.elifesciences.org/oauth2/auth"
          nginx.ingress.kubernetes.io/auth-signin: "https://oauth-proxy.elifesciences.org/oauth2/start?rd=https%3A%2F%2F$host$request_uri"
          cert-manager.io/cluster-issuer: "letsencrypt"
        tls:
          enabled: true
          secretName: "data-hub-airflow-stg-tls"

    # Celery workers + Kubernetes executor pod template[web:122][web:125][web:129]
    workers:
      resources:
        requests:
          memory: 7500Mi
          cpu: 800m
          ephemeral-storage: 10Gi
        limits:
          memory: 7500Mi
      # Use this as the Celery worker pod template; you can refactor to pod_template_file later.
      podTemplate:
        labels:
          release: data-hub--test
          airflow-executor: KubernetesExecutor
        resources:
          requests:
            memory: 6459Mi
            cpu: 1495m
            ephemeral-storage: 10Gi
          limits:
            memory: 6459Mi
            cpu: 1700m
        volumeMounts:
          - name: data-hub-config-volume
            mountPath: /dag_config_files/
            readOnly: true
          - name: github-api-secret-volume
            mountPath: /dag_secret_files/github_api/
            readOnly: true
          - name: twitter-api-secret-volume
            mountPath: /dag_secret_files/twitter_api/
            readOnly: true
          - name: twitter-api-key-secret-volume
            mountPath: /dag_secret_files/twitter_api_key/
            readOnly: true
          - name: twitter-api-secret-secret-volume
            mountPath: /dag_secret_files/twitter_api_secret/
            readOnly: true
          - name: twitter-api-access-token-secret-volume
            mountPath: /dag_secret_files/twitter_api_access_token/
            readOnly: true
          - name: twitter-api-access-token-secret-secret-volume
            mountPath: /dag_secret_files/twitter_api_access_token_secret/
            readOnly: true
          - name: europepmc-labslink-ftp-credentials-volume
            mountPath: /dag_secret_files/europepmc_labslink_ftp_credentials/
            readOnly: true
          - name: gcloud-secret-volume
            mountPath: /dag_secret_files/gcloud/
            readOnly: true
          - name: aws-secret-volume
            mountPath: /home/airflow/.aws
            readOnly: true
          - name: gmail-production-secret-volume
            mountPath: /dag_secret_files/gmail_production/
            readOnly: true
          - name: gmail-open-research-secret-volume
            mountPath: /dag_secret_files/gmail_open_research/
            readOnly: true
          - name: toggl-secret-volume
            mountPath: /home/airflow/toggl
            readOnly: true
          - name: monitoring-urls-volume
            mountPath: /dag_secret_files/monitoring_urls/
            readOnly: true
          - name: semantic-scholar-secret-volume
            mountPath: /dag_secret_files/semantic_scholar/
            readOnly: true
          - name: opensearch-secret-volume
            mountPath: /dag_secret_files/opensearch/
            readOnly: true
          - name: surveymonkey-secret-volume
            mountPath: /dag_secret_files/surveymonkey/
            readOnly: true
        volumes:
          - name: data-hub-config-volume
            configMap:
              name: data-hub-configs
          - name: github-api-secret-volume
            secret:
              secretName: github-api
          - name: twitter-api-secret-volume
            secret:
              secretName: twitter-api
          - name: twitter-api-key-secret-volume
            secret:
              secretName: twitter-api-key
          - name: twitter-api-secret-secret-volume
            secret:
              secretName: twitter-api-secret
          - name: twitter-api-access-token-secret-volume
            secret:
              secretName: twitter-api-access-token
          - name: twitter-api-access-token-secret-secret-volume
            secret:
              secretName: twitter-api-access-token-secret
          - name: europepmc-labslink-ftp-credentials-volume
            secret:
              secretName: europepmc-labslink-ftp-credentials--test
          - name: gcloud-secret-volume
            secret:
              secretName: gcloud
          - name: aws-secret-volume
            secret:
              secretName: credentials
          - name: gmail-production-secret-volume
            secret:
              secretName: gmail-credentials
          - name: gmail-open-research-secret-volume
            secret:
              secretName: gmail-open-research-credentials
          - name: toggl-secret-volume
            secret:
              secretName: toggl
          - name: monitoring-urls-volume
            secret:
              secretName: monitoring-urls--test
          - name: semantic-scholar-secret-volume
            secret:
              secretName: semantic-scholar
          - name: opensearch-secret-volume
            secret:
              secretName: opensearch-staging-admin-password
          - name: surveymonkey-secret-volume
            secret:
              secretName: surveymonkey

    # DB migration job placement/resources
    migrateDatabaseJob:
      tolerations:
        - key: workload
          operator: Equal
          value: "services"
          effect: NoSchedule
      nodeSelector:
        data-hub-workload: "services"
      resources:
        requests:
          ephemeral-storage: "50Mi"

    # Postgres & Redis (if still using chart-managed ones)
    postgresql:
      resources:
        requests:
          memory: 200Mi
          cpu: 100m
          ephemeral-storage: "10Mi"
      primary:
        tolerations:
          - key: workload
            operator: Equal
            value: "services"
            effect: NoSchedule
        nodeSelector:
          data-hub-workload: "services"

    redis:
      image:
        repository: bitnamilegacy/redis
      master:
        tolerations:
          - key: workload
            operator: Equal
            value: "services"
            effect: NoSchedule
        nodeSelector:
          data-hub-workload: "services"

    flower:
      tolerations:
        - key: workload
          operator: Equal
          value: "services"
          effect: NoSchedule
      nodeSelector:
        data-hub-workload: "services"
      resources:
        requests:
          memory: 230Mi
          cpu: 10m
          ephemeral-storage: "50Mi"

    scheduler:
      tolerations:
        - key: workload
          operator: Equal
          value: "services"
          effect: NoSchedule
      nodeSelector:
        data-hub-workload: "services"
      resources:
        requests:
          memory: 1733Mi
          cpu: 1000m
          ephemeral-storage: "50Mi"
        limits:
          memory: 1733Mi
      extraVolumeMounts:
        - name: data-hub-config-volume
          mountPath: /dag_config_files/
          readOnly: true
      extraVolumes:
        - name: data-hub-config-volume
          configMap:
            name: data-hub-configs

    web:
      tolerations:
        - key: workload
          operator: Equal
          value: "services"
          effect: NoSchedule
      nodeSelector:
        data-hub-workload: "services"
      resources:
        requests:
          memory: 1110Mi
          cpu: 50m
          ephemeral-storage: "100Mi"
      livenessProbe:
        initialDelaySeconds: 60
        periodSeconds: 30
        timeoutSeconds: 30
        failureThreshold: 10
      readinessProbe:
        initialDelaySeconds: 60
        periodSeconds: 30
        timeoutSeconds: 30
        failureThreshold: 10
      extraVolumeMounts:
        - name: aws-secret-volume
          mountPath: /home/airflow/.aws
          readOnly: true
      extraVolumes:
        - name: aws-secret-volume
          secret:
            secretName: credentials

    triggerer:
      tolerations:
        - key: workload
          operator: Equal
          value: "services"
          effect: NoSchedule
      nodeSelector:
        data-hub-workload: "services"
      resources:
        requests:
          ephemeral-storage: "50Mi"
          memory: 650Mi
          cpu: 400m

    pgbouncer:
      tolerations:
        - key: workload
          operator: Equal
          value: "services"
          effect: NoSchedule
      nodeSelector:
        data-hub-workload: "services"
      resources:
        requests:
          ephemeral-storage: "10Mi"
