apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: data-hub--test
  namespace: data-hub
spec:
  interval: 16m
  timeout: 15m
  releaseName: data-hub--test
  chart:
    spec:
      chart: airflow
      version: 1.18.0
      sourceRef:
        kind: HelmRepository
        name: apache-airflow
        namespace: data-hub
      interval: 1m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    # https://airflow.apache.org/docs/helm-chart/stable/index.html#installing-the-chart-with-argo-cd-flux-rancher-or-terraform
    # Required when using Flux/Argo/etc.
    createUserJob:
      useHelmHooks: false
      applyCustomEnv: false
    migrateDatabaseJob:
      useHelmHooks: false
      applyCustomEnv: false
    postgresql:
      enabled: false
    extraEnv: |
      - name: PGHOST
        valueFrom:
          secretKeyRef:
            name: data-hub-airflow-db-secret--test
            key: PGHOST
      - name: PGPORT
        valueFrom:
          secretKeyRef:
            name: data-hub-airflow-db-secret--test
            key: PGPORT
      - name: PGUSER
        valueFrom:
          secretKeyRef:
            name: data-hub-airflow-db-secret--test
            key: PGUSER
      - name: PGPASSWORD
        valueFrom:
          secretKeyRef:
            name: data-hub-airflow-db-secret--test
            key: PGPASSWORD
      - name: PGDATABASE
        valueFrom:
          secretKeyRef:
            name: data-hub-airflow-db-secret--test
            key: PGDATABASE
      - name: AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
        value: "postgresql+psycopg2://$(PGUSER):$(PGPASSWORD)@$(PGHOST):$(PGPORT)/$(PGDATABASE)"

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: data-hub-airflow-db--test
  namespace: data-hub
spec:
  interval: 15m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./kustomizations/utils/rds-dbinstance
  prune: true
  targetNamespace: data-hub
  postBuild:
    substitute:
      instance_name: data-hub-airflow-db-test
      instance_storage: "20"
      instance_class: db.t3.small
      engine: postgres
      engine_version: "\"18.1\""
      project: data-hub
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: data-hub-airflow-db-secret--test
  namespace: data-hub
spec:
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./kustomizations/utils/rds-pg-external-secret
  prune: true
  targetNamespace: data-hub
  dependsOn:
  - name: data-hub-airflow-db--test
  postBuild:
    substitute:
      external_secret_name: data-hub-airflow-db-secret--test
      kubernetes_secret_name: data-hub-airflow-db-secret--test # Target secret name
    substituteFrom:
    - kind: Secret
      name: data-hub-airflow-db-test-connection-values
