apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: data-hub--test
  namespace: data-hub
spec:
  interval: 16m
  timeout: 15m
  releaseName: data-hub--test
  chart:
    spec:
      chart: airflow
      version: 1.18.0
      sourceRef:
        kind: HelmRepository
        name: apache-airflow
        namespace: data-hub
      interval: 1m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    # https://airflow.apache.org/docs/helm-chart/stable/index.html#installing-the-chart-with-argo-cd-flux-rancher-or-terraform
    # Required when using Flux/Argo/etc.
    createUserJob:
      useHelmHooks: false
      applyCustomEnv: false
    migrateDatabaseJob:
      useHelmHooks: false
      applyCustomEnv: false
    postgresql:
      enabled: false
    data:
      metadataSecretName: data-hub-airflow-db-secret--test
    # extraEnvFrom: |
    #   - secretRef:
    #       name: data-hub-airflow-db-secret--test
    # extraEnv: |
    #   - name: AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
    #     value: "postgresql+psycopg2://$(PGUSER):$(PGPASSWORD)@$(PGHOST):$(PGPORT)/$(PGDATABASE)"
    redis:
      persistence:
        storageClassName: data-hub-gp3
      resources:
        requests:
          memory: 500Mi
          cpu: 100m
    triggerer:
      persistence:
        storageClassName: data-hub-gp3
      resources:
        requests:
          ephemeral-storage: "50Mi"
          memory: 1200Mi
          cpu: 400m
    scheduler:
      resources:
        requests:
          memory: 500Mi
          cpu: 200m
          ephemeral-storage: "50Mi"
    dagProcessor:
      resources:
        requests:
          memory: 500Mi
          cpu: 100m
    workers:
      persistence:
        storageClassName: data-hub-gp3
      resources:
        requests:
          memory: 2500Mi
          cpu: 400m
          ephemeral-storage: 10Gi
        limits:
          memory: 2500Mi
    apiServer:
      startupProbe:
        initialDelaySeconds: 15 # observed slow startup and failing startup probe
        failureThreshold: 60
      resources:
        requests:
          memory: 1167Mi
          cpu: 50m
          ephemeral-storage: "100Mi"
    ingress:
      apiServer:
        enabled: true
        annotations:
          nginx.ingress.kubernetes.io/auth-url: "https://oauth-proxy.elifesciences.org/oauth2/auth"
          nginx.ingress.kubernetes.io/auth-signin: "https://oauth-proxy.elifesciences.org/oauth2/start?rd=https%3A%2F%2F$host$request_uri"
          cert-manager.io/cluster-issuer: "letsencrypt"
        hosts:
          - name: data-hub--flux--test.elifesciences.org
            tls:
              enabled: true
              secretName: "data-hub--flux--test.elifesciences.org-tls"
      web:
        enabled: true
        annotations:
          nginx.ingress.kubernetes.io/auth-url: "https://oauth-proxy.elifesciences.org/oauth2/auth"
          nginx.ingress.kubernetes.io/auth-signin: "https://oauth-proxy.elifesciences.org/oauth2/start?rd=https%3A%2F%2F$host$request_uri"
          cert-manager.io/cluster-issuer: "letsencrypt"
        hosts:
          - name: data-hub--flux--test.elifesciences.org
            tls:
              enabled: true
              secretName: "data-hub--flux--test.elifesciences.org-tls"
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: data-hub-airflow-db--test
  namespace: data-hub
spec:
  interval: 15m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./kustomizations/utils/rds-dbinstance
  prune: true
  targetNamespace: data-hub
  postBuild:
    substitute:
      instance_name: data-hub-airflow-db-test
      instance_storage: "20"
      instance_class: db.t3.small
      engine: postgres
      engine_version: "\"18.1\""
      project: data-hub
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: data-hub-airflow-db-secret--test
  namespace: data-hub
spec:
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./kustomizations/utils/rds-pg-external-secret
  prune: true
  targetNamespace: data-hub
  dependsOn:
  - name: data-hub-airflow-db--test
  postBuild:
    substitute:
      external_secret_name: data-hub-airflow-db-secret--test
      kubernetes_secret_name: data-hub-airflow-db-secret--test # Target secret name
    substituteFrom:
    - kind: Secret
      name: data-hub-airflow-db-test-connection-values
