apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: data-ai-bot--stg
  labels:
    app: data-ai-bot--stg
  namespace: data-ai-bot
spec:
  serviceName: "data-ai-bot" # Required for StatefulSet
  replicas: 1
  selector:
    matchLabels:
      app: data-ai-bot--stg
  template:
    metadata:
      labels:
        app: data-ai-bot--stg
    spec:
      containers:
      - name: data-ai-bot
        image: ghcr.io/de-code/data-ai-bot_unstable:main-d6002935-20260128.1644 # {"$imagepolicy": "data-ai-bot:data-ai-bot-unstable"}
        imagePullPolicy: IfNotPresent
        env:
        - name: CONFIG_FILE
          value: "/config/data-ai-bot--stg.yaml"
        - name: OTLP_ENDPOINT
          value: "http://phoenix--stg:6006/v1/traces"
        - name: USER_AGENT
          value: "Data-AI-Bot--stg/1.0"
        - name: OPENAI_API_KEY
          valueFrom:
            secretKeyRef:
              name: openai-api
              key: openai_api_key
        - name: GEMINI_API_KEY
          valueFrom:
            secretKeyRef:
              name: gemini-api
              key: api_key
        - name: SLACK_SIGNING_SECRET
          valueFrom:
            secretKeyRef:
              name: slack-app--stg
              key: signing_secret
        - name: SLACK_APP_TOKEN
          valueFrom:
            secretKeyRef:
              name: slack-app--stg
              key: app_token
        - name: SLACK_BOT_TOKEN
          valueFrom:
            secretKeyRef:
              name: slack-app--stg
              key: bot_user_oauth_token
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /.secrets/gcp/service_account
        volumeMounts:
        - name: data-ai-bot-configs-volume
          mountPath: /config/
          readOnly: true
        - name: gcp-secret-volume
          mountPath: /.secrets/gcp/
          readOnly: true
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 1500m
            memory: 500Mi
      volumes:
      - name: data-ai-bot-configs-volume
        configMap:
          name: data-ai-bot-configs
      - name: gcp-secret-volume
        secret:
          secretName: gcp
