---
apiVersion: opensearch.opster.io/v1
kind: OpenSearchCluster
metadata:
  name: opensearch-staging
  namespace: data-hub
spec:
  confMgmt:
    smartScaler: true
  general:
    image: public.ecr.aws/opensearchproject/opensearch:2.10.0
    serviceName: opensearch-staging
    serviceAccount: opensearch-staging
    version: 2.10.0
    monitoring:
      enable: false
    pluginsList:
    - "https://github.com/aiven/prometheus-exporter-plugin-for-opensearch/releases/download/2.10.0.0/prometheus-exporter-2.10.0.0.zip"
    - "repository-s3"
    snapshotRepositories:
    - name: ${aws_backup_s3_bucket}
      type: s3
      settings:
        bucket: ${aws_backup_s3_bucket}
        region: ${aws_region}
        base_path: data-hub/opensearch/staging
    ##
    # This is to work around JRE permission issues, see https://github.com/opensearch-project/opensearch-k8s-operator/issues/442
    additionalVolumes:
    - name: sa-aws-iam-token
      path: /usr/share/opensearch/config/aws-iam-token
      subPath: token
      projected:
        sources:
        - serviceAccountToken:
            audience: sts.amazonaws.com
            expirationSeconds: 2592000 # 60s*60m*24h*30d
            path: token
    additionalConfig:
      s3.client.default.identity_token_file: /usr/share/opensearch/config/aws-iam-token
      AWS_ROLE_ARN: arn:aws:iam::512686554592:role/elife-flux-prod-backups-cluster-role
      AWS_WEB_IDENTITY_TOKEN_FILE: /usr/share/opensearch/config/aws-iam-token
    ##

  dashboards:
    image: public.ecr.aws/opensearchproject/opensearch-dashboards:2.10.0
    version: 2.10.0
    enable: true
    replicas: 1
    resources:
      requests:
        memory: "280Mi"
        cpu: "200m"

  nodePools:
  - component: cluster-managers
    replicas: 3
    resources:
      requests:
        memory: "3Gi"
        cpu: "200m"
      limits:
        memory: "3Gi"
    tolerations:
    - key: workload
      operator: Equal
      value: "services"
      effect: NoSchedule
    nodeSelector:
      data-hub-workload: "services"
    roles:
    - "cluster_manager"
    diskSize: 10Gi
    topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          opster.io/opensearch-cluster: opensearch-staging
          opster.io/opensearch-nodepool: cluster-managers
    pdb:
      enable: true
      maxUnavailable: 1
    persistence:
      pvc:
        storageClass: data-hub-gp3
        accessModes:
          - ReadWriteOnce

  - component: data-nodes
    replicas: 3
    resources:
      requests:
        memory: "6Gi"
        cpu: "1000m"
      limits:
        memory: "6Gi"
    tolerations:
    - key: workload
      operator: Equal
      value: "services"
      effect: NoSchedule
    nodeSelector:
      data-hub-workload: "services"
    probes:
      startup:
        initialDelaySeconds: 30
    roles:
    - "data"
    diskSize: 200Gi
    topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          opster.io/opensearch-cluster: opensearch-staging
          opster.io/opensearch-nodepool: data-nodes
    pdb:
      enable: true
      maxUnavailable: 1
    persistence:
      pvc:
        storageClass: data-hub-gp3
        accessModes:
          - ReadWriteOnce

  - component: ingest
    replicas: 1
    resources:
      requests:
        memory: "3Gi"
        cpu: "100m"
      limits:
        memory: "3Gi"
    tolerations:
    - key: workload
      operator: Equal
      value: "services"
      effect: NoSchedule
    nodeSelector:
      data-hub-workload: "services"
    roles:
    - "ingest"
    diskSize: 10Gi
    topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          opster.io/opensearch-cluster: opensearch-staging
          opster.io/opensearch-nodepool: ingest
    pdb:
      enable: true
      maxUnavailable: 1
    persistence:
      pvc:
        storageClass: data-hub-gp3
        accessModes:
          - ReadWriteOnce
