apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: data-hub-metrics-api-valkey--prod
  namespace: data-hub
spec:
  interval: 5m
  chart:
    spec:
      chart: valkey
      version: "3.0.22"
      interval: 5m
      sourceRef:
        kind: HelmRepository
        name: bitnami
  values:
    global:
      defaultStorageClass: data-hub-gp3
      security:
        allowInsecureImages: true
    image:
      repository: bitnamilegacy/valkey
      tag: 8.1.3-debian-12-r1
    architecture: replication
    auth:
      enabled: false
    primary:
      resourcesPreset: none
      resources:
        requests:
          memory: 170Mi
        limits:
          memory: 200Mi
      tolerations:
      - key: workload
        operator: Equal
        value: "services"
        effect: NoSchedule
      nodeSelector:
        data-hub-workload: "services"
    replica:
      replicaCount: 2
      resourcesPreset: none
      resources:
        requests:
          memory: 170Mi
        limits:
          memory: 200Mi
      tolerations:
      - key: workload
        operator: Equal
        value: "services"
        effect: NoSchedule
      nodeSelector:
        data-hub-workload: "services"
