defaultConfig:
  airflow:
    dagParameters:
      schedule: '*/30 * * * *'  # At every 30th minute
      max_active_runs: 1
      tags:
        - 'Kubernetes'
        - 'CSV'
  image: '${data_hub_core_dags_stable_image_repo}:${data_hub_core_dags_stable_image_tag}'
  env:
    - name: DEPLOYMENT_ENV
      value: prod
    - name: GOOGLE_APPLICATION_CREDENTIALS
      value: /dag_secret_files/gcloud/credentials.json
    - name: AWS_CONFIG_FILE
      value: /dag_secret_files/aws/credentials
    - name: S3_CSV_CONFIG_FILE_PATH
      value: /dag_config_files/s3-csv-data-pipeline.config.yaml
  volumeMounts:
    - name: gcloud-secret-volume
      mountPath: /dag_secret_files/gcloud/
      readOnly: true
    - name: aws-secret-volume
      mountPath: /dag_secret_files/aws
      readOnly: true
    - name: data-hub-config-volume
      mountPath: /dag_config_files/
      readOnly: true
  volumes:
    - name: aws-secret-volume
      secret:
        secretName: credentials
    - name: gcloud-secret-volume
      secret:
        secretName: gcloud
    - name: data-hub-config-volume
      configMap:
        name: data-hub-configs
  resources:
    limits:
      memory: 1Gi
      cpu: 1000m
    requests:
      memory: 1Gi
      cpu: 100m


kubernetesPipelines:

  - dataPipelineId: 'CSV_rp_reviews_and_elife_assessment_emails_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=rp_reviews_and_elife_assessment_emails'

  - dataPipelineId: 'CSV_ejp_manuscript_version_notes_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=ejp_manuscript_version_notes'

  - dataPipelineId: 'CSV_ejp_manuscript_version_latest_stage_info_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=ejp_manuscript_version_latest_stage_info'

  - dataPipelineId: 'CSV_rp_manuscript_license_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=manuscript_license'

  - dataPipelineId: 'CSV_data_availability_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=data_availability'

  - dataPipelineId: 'CSV_submission_funding_information_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=submission_funding_information'

  - dataPipelineId: 'CSV_person_orcid_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=person_orcid'

  - dataPipelineId: 'CSV_767_datascience_person_roles_001_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=767_datascience_person_roles_001'

  - dataPipelineId: 'CSV_datascience_person_roles_current_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=datascience_person_roles_current'

  - dataPipelineId: 'CSV_779_datascience_reviewer_info_all_001_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=779_datascience_reviewer_info_all_001'

  - dataPipelineId: 'CSV_editorial_manuscript_consultation_session_001_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=editorial_manuscript_consultation_session_001'

  - dataPipelineId: 'CSV_380_datascience_early_career_researchers_001_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=380_datascience_early_career_researchers_001'

  - dataPipelineId: 'CSV_489_datascience_editor_keywords_001_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=489_datascience_editor_keywords_001'

  - dataPipelineId: 'CSV_datascience_etoc_content_subscribers_last_week_001_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=datascience_etoc_content_subscribers_last_week_001'

  - dataPipelineId: 'CSV_prod_ejp_data_export_date_001_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=prod_ejp_data_export_date_001'

  - dataPipelineId: 'CSV_prod_ejp_feature_templates_001_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=prod_ejp_feature_templates_001'

  - dataPipelineId: 'CSV_sciety_events_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=sciety_events'

  - dataPipelineId: 'CSV_prod_task_adept_timer_report_range_001_Kubernetes'
    airflow:
      dagParameters:
        schedule: '@daily'
        tags:
          - 'CSV'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=prod_task_adept_timer_report_range_001'

  - dataPipelineId: 'CSV_prod_task_adept_carina_eol_kriya_001_Kubernetes'
    airflow:
      dagParameters:
        schedule: '@daily'
        tags:
          - 'CSV'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=prod_task_adept_carina_eol_kriya_001'

  - dataPipelineId: 'CSV_prod_task_adept_carina_eol_elife_001_Kubernetes'
    airflow:
      dagParameters:
        schedule: '@daily'
        tags:
          - 'CSV'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=prod_task_adept_carina_eol_elife_001'

  - dataPipelineId: 'CSV_prod_kriya_digest_sub_article_info_001_Kubernetes'
    airflow:
      dagParameters:
        schedule: '@daily'
        tags:
          - 'CSV'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=prod_kriya_digest_sub_article_info_001'

  - dataPipelineId: 'CSV_prod_kriya_press_info_001_Kubernetes'
    airflow:
      dagParameters:
        schedule: '@daily'
        tags:
          - 'CSV'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=prod_kriya_press_info_001'

  - dataPipelineId: 'CSV_prod_kriya_published_stage_history_001_Kubernetes'
    airflow:
      dagParameters:
        schedule: '@daily'
        tags:
          - 'CSV'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=prod_kriya_published_stage_history_001'

  - dataPipelineId: 'CSV_prod_kriya_published_stage_summary_001_Kubernetes'
    airflow:
      dagParameters:
        schedule: '@daily'
        tags:
          - 'CSV'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=prod_kriya_published_stage_summary_001'

  - dataPipelineId: 'CSV_prod_kriya_wip_stage_summary_001_Kubernetes'
    airflow:
      dagParameters:
        schedule: '@daily'
        tags:
          - 'CSV'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=prod_kriya_wip_stage_summary_001'

  - dataPipelineId: 'CSV_prod_kriya_wip_stage_history_001_Kubernetes'
    airflow:
      dagParameters:
        schedule: '@daily'
        tags:
          - 'CSV'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.s3_csv_data.cli'
      - '--data-pipeline-id=prod_kriya_wip_stage_history_001'
