defaultConfig:
  airflow:
    dagParameters:
      schedule: null
      max_active_runs: 1
      tags:
        - 'Kubernetes'
  image: '${data_hub_core_dags_stable_image_repo}:${data_hub_core_dags_stable_image_tag}'
  env:
    - name: DEPLOYMENT_ENV
      value: prod
    - name: GOOGLE_APPLICATION_CREDENTIALS
      value: /dag_secret_files/gcloud/credentials.json
    - name: AWS_CONFIG_FILE
      value: /dag_secret_files/aws/credentials
  volumeMounts:
    - name: gcloud-secret-volume
      mountPath: /dag_secret_files/gcloud/
      readOnly: true
    - name: aws-secret-volume
      mountPath: /dag_secret_files/aws
      readOnly: true
    - name: data-hub-config-volume
      mountPath: /dag_config_files/
      readOnly: true
  volumes:
    - name: aws-secret-volume
      secret:
        secretName: credentials
    - name: gcloud-secret-volume
      secret:
        secretName: gcloud
    - name: data-hub-config-volume
      configMap:
        name: data-hub-configs
  resources:
    limits:
      memory: 1Gi
      cpu: 1000m
    requests:
      memory: 1Gi
      cpu: 100m

kubernetesPipelines:

  - dataPipelineId: 'Monitor_Data_Hub_Pipeline_Health_Kubernetes'
    airflow:
      dagParameters:
        schedule: '20 6-21/1 * * *'  # At minute 20 past every hour from 6 through 21
        tags:
          - 'Kubernetes'
          - 'Monitoring'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.monitoring.cli'
    env:
      - name: MONITORING_CONFIG_FILE_PATH
        value: /dag_config_files/monitoring.config.yaml
      - name: HEALTH_CHECK_URL
        valueFrom:
          secretKeyRef:
            name: monitoring-urls--prod
            key: health_check_url
      - name: DATA_HUB_MONITORING_SLACK_WEBHOOK_URL
        valueFrom:
          secretKeyRef:
            name: monitoring-urls--prod
            key: slack_webhook_url

  - dataPipelineId: 'Elife_Article_Xml_Pipeline_Kubernetes'
    airflow:
      dagParameters:
        schedule: '0 3 * * *'  # At 03:00, every day
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.elife_article_xml.cli'
    env:
      - name: ELIFE_ARTICLE_XML_CONFIG_FILE_PATH
        value: /dag_config_files/elife-article-xml.config.yaml
      - name: GITHUB_API_AUTHORIZATION_FILE_PATH
        value: /dag_secret_files/github_api/github_api_authorization.txt
    volumeMounts:
      - name: github-api-secret-volume
        mountPath: /dag_secret_files/github_api/
        readOnly: true
    volumes:
      - name: github-api-secret-volume
        secret:
          secretName: github-api

  - dataPipelineId: 'BigQuery_To_OpenSearch_Pipeline_Kubernetes'
    airflow:
      dagParameters:
        schedule: "0 13 * * *" # At 13:00, every day
        tags:
          - 'Kubernetes'
          - 'OpenSearch'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.opensearch.cli'
    env:
      - name: BIGQUERY_TO_OPENSEARCH_CONFIG_FILE_PATH
        value: /dag_config_files/bigquery-to-opensearch--prod.yaml
      - name: OPENSEARCH_USERNAME_FILE_PATH
        value: /dag_secret_files/opensearch/username
      - name: OPENSEARCH_PASSWORD_FILE_PATH
        value: /dag_secret_files/opensearch/password
    volumeMounts:
      - name: opensearch-secret-volume
        mountPath: /dag_secret_files/opensearch/
        readOnly: true
    volumes:
      - name: opensearch-secret-volume
        secret:
          secretName: opensearch-prod-admin-password

  - dataPipelineId: 'BigQuery_To_OpenSearch_Pipeline_ECR_Kubernetes'
    airflow:
      dagParameters:
        schedule: '0 4 * * *'  # At 04:00, every day
        tags:
          - 'Kubernetes'
          - 'OpenSearch'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.opensearch.cli'
    env:
      - name: BIGQUERY_TO_OPENSEARCH_CONFIG_FILE_PATH
        value: /dag_config_files/bigquery-to-opensearch-ecr--prod.yaml
      - name: OPENSEARCH_USERNAME_FILE_PATH
        value: /dag_secret_files/opensearch/username
      - name: OPENSEARCH_PASSWORD_FILE_PATH
        value: /dag_secret_files/opensearch/password
    volumeMounts:
      - name: opensearch-secret-volume
        mountPath: /dag_secret_files/opensearch/
        readOnly: true
    volumes:
      - name: opensearch-secret-volume
        secret:
          secretName: opensearch-prod-admin-password

  - dataPipelineId: 'BigQuery_To_OpenSearch_Pipeline_Reviewer_Kubernetes'
    airflow:
      dagParameters:
        schedule: null  # manual
        tags:
          - 'Kubernetes'
          - 'OpenSearch'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.opensearch.cli'
    env:
      - name: BIGQUERY_TO_OPENSEARCH_CONFIG_FILE_PATH
        value: /dag_config_files/bigquery-to-opensearch-reviewer--prod.yaml
      - name: OPENSEARCH_USERNAME_FILE_PATH
        value: /dag_secret_files/opensearch/username
      - name: OPENSEARCH_PASSWORD_FILE_PATH
        value: /dag_secret_files/opensearch/password
    volumeMounts:
      - name: opensearch-secret-volume
        mountPath: /dag_secret_files/opensearch/
        readOnly: true
    volumes:
      - name: opensearch-secret-volume
        secret:
          secretName: opensearch-prod-admin-password

  - dataPipelineId: 'EuropePmc_Pipeline_Kubernetes'
    airflow:
      dagParameters:
        schedule: '0 6 * * *'  # At 06:00, every day
        tags:
          - 'Kubernetes'
          - 'EuropePMC'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.europepmc.cli_europepmc'
    env:
      - name: EUROPEPMC_CONFIG_FILE_PATH
        value: /dag_config_files/europepmc.config.yaml

  - dataPipelineId: 'EuropePmc_Labslink_Pipeline_Kubernetes'
    airflow:
      dagParameters:
        schedule: '40 * * * *' # 40 past the hour, every day
        tags:
          - 'Kubernetes'
          - 'EuropePMC'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.europepmc.cli_europepmc_labslink'
    env:
      - name: EUROPEPMC_LABSLINK_CONFIG_FILE_PATH
        value: /dag_config_files/europepmc-labslink.config.yaml
      - name: EUROPEPMC_LABSLINK_FTP_PASSWORD_FILE_PATH
        value: /dag_secret_files/europepmc_labslink_ftp_credentials/password
      - name: EUROPEPMC_LABSLINK_FTP_DIRECTORY_NAME_FILE_PATH
        value: /dag_secret_files/europepmc_labslink_ftp_credentials/directory_name
    volumeMounts:
      - name: europepmc-labslink-ftp-credentials-volume
        mountPath: /dag_secret_files/europepmc_labslink_ftp_credentials/
        readOnly: true
    volumes:
      - name: europepmc-labslink-ftp-credentials-volume
        secret:
          secretName: europepmc-labslink-ftp-credentials--prod

  - dataPipelineId: 'Gmail_Production_Data_Pipeline_Kubernetes'
    airflow:
      dagParameters:
        schedule: '0 7 * * 1-5'  # At 07:00 on every day-of-week from Monday through Friday
        tags:
          - 'Kubernetes'
          - 'Gmail'
      taskParameters:
        retries: 3
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.gmail_data.cli'
      - '--data-pipeline-id=gmail_production_data_pipeline'
    env:
      - name: GMAIL_DATA_CONFIG_FILE_PATH
        value: "/dag_config_files/gmail-data-pipeline.config.yaml"
      - name: GMAIL_THREAD_DETAILS_CHUNK_SIZE
        value: "100"
      - name: GMAIL_PRODUCTION_ACCOUNT_SECRET_FILE
        value: /dag_secret_files/gmail_production/gmail_credentials.json
    volumeMounts:
      - name: gmail-production-secret-volume
        mountPath: /dag_secret_files/gmail_production/
        readOnly: true
    volumes:
      - name: gmail-production-secret-volume
        secret:
          secretName: gmail-credentials
    resources:
      requests:
        memory: 1Gi
        cpu: 100m
        ephemeral-storage: 1Gi

  - dataPipelineId: 'Materialize_BigQuery_Views_Pipeline_Kubernetes'
    airflow:
      dagParameters:
        schedule: '15,45 3-21 * * 1-5' # At minute 15 and 45 past every hour from 3 through 21 on every day-of-week from Monday through Friday.
        tags:
          - 'Kubernetes'
          - 'Materialize Views'
      taskParameters:
        retries: 3
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.bigquery_views.cli'
    env:
      - name: MATERIALIZE_BIGQUERY_VIEWS_CONFIG_PATH
        value: "s3://prod-elife-data-pipeline/airflow-config/bigquery-views"
      - name: MATERIALIZE_BIGQUERY_VIEWS_GCP_PROJECT
        value: "elife-data-pipeline"
      - name: MATERIALIZE_BIGQUERY_VIEWS_DATASET
        value: prod

  - dataPipelineId: 'Scheduled_Queries_Maintenance_Pipeline_Kubernetes'
    airflow:
      dagParameters:
        schedule: '@weekly'
        tags:
          - 'Kubernetes'
          - 'Scheduled Queries'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.scheduled_queries.cli'
    env:
      - name: SCHEDULED_QUERIES_PIPELINE_CONFIG_FILE_PATH
        value: /dag_config_files/scheduled-queries-maintenance-pipelines--prod.config.yaml

  - dataPipelineId: 'Scheduled_Queries_Metrics_Pipeline_Kubernetes'
    airflow:
      dagParameters:
        schedule: '@daily'
        tags:
          - 'Kubernetes'
          - 'Scheduled Queries'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.scheduled_queries.cli'
    env:
      - name: SCHEDULED_QUERIES_PIPELINE_CONFIG_FILE_PATH
        value: /dag_config_files/scheduled-queries-metrics-pipelines--prod.config.yaml

  - dataPipelineId: 'Semantic_Scholar_Data_Import_Pipeline_Kubernetes'
    airflow:
      dagParameters:
        schedule: '0 10 * * *'  # At 10:00, every day
        tags:
          - 'Kubernetes'
          - 'Semantic Scholar'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.semantic_scholar.cli_semantic_scholar'
    env:
      - name: SEMANTIC_SCHOLAR_CONFIG_FILE_PATH
        value: /dag_config_files/semantic-scholar.config.yaml

  - dataPipelineId: 'Semantic_Scholar_Recommendation_Data_Import_Pipeline_Kubernetes'
    airflow:
      dagParameters:
        schedule: '0 11 * * *'  # At 11:00, every day
        tags:
          - 'Kubernetes'
          - 'Semantic Scholar'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.semantic_scholar.cli_semantic_scholar_recommendation'
    env:
      - name: SEMANTIC_SCHOLAR_RECOMMENDATION_CONFIG_FILE_PATH
        value: /dag_config_files/semantic-scholar-recommendation.config.yaml

  - dataPipelineId: 'SurveyMonkey_Data_Import_Pipeline_Kubernetes'
    airflow:
      dagParameters:
        schedule: '@monthly'
        tags:
          - 'Kubernetes'
          - 'SurveyMonkey'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.surveymonkey.cli'
    env:
      - name: SURVEYMONKEY_DATA_CONFIG_FILE_PATH
        value: /dag_config_files/surveymonkey-data-pipeline.config.yaml
      - name: SURVEYMONKEY_SECRET_FILE
        value: /dag_secret_files/surveymonkey/surveymonkey_credentials.json
    volumeMounts:
      - name: surveymonkey-secret-volume
        mountPath: /dag_secret_files/surveymonkey/
        readOnly: true
    volumes:
      - name: surveymonkey-secret-volume
        secret:
          secretName: surveymonkey

  - dataPipelineId: 'Finance_Data_Pipeline_RP_Site_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_pipeline.finance_data.cli'
    env:
      - name: FINANCE_DATA_CONFIG_FILE_PATH
        value: /dag_config_files/finance-data.config.yaml