defaultConfig:
  airflow:
    dagParameters:
      schedule: '@daily'
      max_active_runs: 1
      tags:
        - 'Metrics API'
        - 'Kubernetes'
  image: '${data_hub_metrics_api_unstable_image}'
  env:
    - name: GOOGLE_APPLICATION_CREDENTIALS
      value: /dag_secret_files/gcloud/credentials.json
    - name: REDIS_HOST
      value: data-hub-metrics-api-dragonfly--stg
    - name: REDIS_PORT
      value: "6379"
    - name: TQDM_POSITION
      value: "-1"
  volumeMounts:
    - name: gcloud-secret-volume
      mountPath: /dag_secret_files/gcloud/
      readOnly: true
  volumes:
    - name: gcloud-secret-volume
      secret:
        secretName: gcloud
  resources:
    limits:
      memory: 1Gi
      cpu: 1000m
    requests:
      memory: 1Gi
      cpu: 100m

kubernetesPipelines:
  - dataPipelineId: 'Data_Hub_Metrics_API_Refresh_Citations_Pipeline_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_hub_metrics_api.refresh_data.citations_cli'

  - dataPipelineId: 'Data_Hub_Metrics_API_Refresh_Page_Views_And_Downloads_Daily_Pipeline_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_hub_metrics_api.refresh_data.page_views_and_downloads_daily_cli'
      - '--number-of-days=64'

  - dataPipelineId: 'Data_Hub_Metrics_API_Refresh_Page_Views_And_Downloads_Monthly_Pipeline_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_hub_metrics_api.refresh_data.page_views_and_downloads_monthly_cli'
      - '--number-of-months=36'

  - dataPipelineId: 'Data_Hub_Metrics_API_Refresh_Page_View_And_Download_Totals_Pipeline_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_hub_metrics_api.refresh_data.page_view_and_download_totals_cli'

  - dataPipelineId: 'Data_Hub_Metrics_API_Refresh_Non_Article_Page_View_Totals_Pipeline_Kubernetes'
    arguments:
      - 'python'
      - '-m'
      - 'data_hub_metrics_api.refresh_data.non_article_page_view_totals_cli'
