apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: data-hub

configMapGenerator:
- name: data-hub-configs
  files:
  - bigquery-to-opensearch--prod.yaml
  - bigquery-to-opensearch--stg.yaml
  - bigquery-to-opensearch-ecr--prod.yaml
  - bigquery-to-opensearch-ecr--stg.yaml
  - ejp-xml-data-pipeline.config.yaml
  - ejp-xml-data-pipeline--test.config.yaml
  - elife-article-xml.config.yaml
  - europepmc.config.yaml
  - europepmc-labslink.config.yaml
  - europepmc-labslink--test.config.yaml
  - finance-data.config.yaml
  - gmail-data-pipeline.config.yaml
  - kubernetes-pipeline--prod.config.yaml
  - kubernetes-pipeline-data-hub-metrics-api-pipelines--prod.config.yaml
  - kubernetes-pipeline-data-science-pipelines--prod.config.yaml
  - kubernetes-pipeline-ejp-xml-pipelines--prod.config.yaml
  - kubernetes-pipeline-other-core-pipelines--prod.config.yaml
  - kubernetes-pipeline-web-api-pipelines--prod.config.yaml
  - kubernetes-pipeline-csv-pipelines--prod.config.yaml
  - kubernetes-pipeline--stg.config.yaml
  - kubernetes-pipeline-data-hub-metrics-api-pipelines--stg.config.yaml
  - kubernetes-pipeline-data-science-pipelines--stg.config.yaml
  - kubernetes-pipeline-ejp-xml-pipelines--stg.config.yaml
  - kubernetes-pipeline-google-spreadsheet-pipelines--prod.config.yaml
  - kubernetes-pipeline-google-spreadsheet-pipelines--stg.config.yaml
  - kubernetes-pipeline-other-core-pipelines--stg.config.yaml
  - kubernetes-pipeline-web-api-pipelines--stg.config.yaml
  - kubernetes-pipeline-csv-pipelines--stg.config.yaml
  - monitoring.config.yaml
  - s3-csv-data-pipeline.config.yaml
  - s3-csv-data-pipeline--test.config.yaml
  - scheduled-queries-maintenance-pipelines--stg.config.yaml
  - scheduled-queries-metrics-pipelines--stg.config.yaml
  - scheduled-queries-maintenance-pipelines--prod.config.yaml
  - scheduled-queries-metrics-pipelines--prod.config.yaml
  - semantic-scholar-recommendation.config.yaml
  - semantic-scholar.config.yaml
  - spreadsheet-data-pipeline.config.yaml
  - surveymonkey-data-pipeline.config.yaml
  - twitter-ads-api.config.yaml
  - web-api-data-pipeline.config.yaml
  - ga-data-pipeline.config.yaml
generatorOptions:
  disableNameSuffixHash: true
